<!DOCTYPE html>
<html>
<head>
	<title>vCrypto</title>
	<meta charset="utf-8">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans" rel="stylesheet">
	
	<!-- CSS -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">

</head>
<body>

	<section class="section">
		<div class="container">
			<h1 class="title">vCrypto</h1>
			<h2>vCrypto is an application to keep track of the top 10 cryptocurrencies with their price data in euros.</h2>

				<div id="app">

					<table class="table is-fullwidth is-striped table-crypto">
						<thead>
							<tr>
								<th>Rank</th>
								<th>Name</th>
								<th>Symbol</th>
								<th>Price (Euro)</th>
								<th>1H</th>
								<th>1D</th>
								<th>1W</th>
								<th>Market Cap (Euro)</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="coin in coins">
								<td>{{ coin.rank }}</td>
								<td>{{ coin.name }}</td>
								<td>{{ coin.symbol }}</td>
								<td>{{ coin.price_eur | currency('€') }}</td>
								<td v-bind:style="getColor(coin.percent_change_1h)"><span v-if="coin.percent_change_1h > 0">+</span>{{ coin.percent_change_1h }}%</td>
								<td v-bind:style="getColor(coin.percent_change_24h)"><span v-if="coin.percent_change_24h > 0">+</span>{{ coin.percent_change_24h }}%</td>
								<td v-bind:style="getColor(coin.percent_change_7d)"><span v-if="coin.percent_change_7d > 0">+</span>{{ coin.percent_change_7d }}%</td>
								<td>{{ coin.market_cap_eur | currency('€') }}</td>
							</tr>
						</tbody>
					</table>

				</div>

		</div>
	</section>

	<!-- JS Scripts -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue.js"></script> <!-- Vue -->
	<script src="https://cdn.jsdelivr.net/npm/vue2-filters/dist/vue2-filters.min.js"></script> <!-- Vue 2 filters -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script> <!-- Axios for AJAX calls -->
	<script type="text/javascript" src="js/app.js"></script> <!-- Custom JS script / Vue code -->
	<!-- end of scripts -->
</body>
</html>